@tailwind base;
@tailwind components;
@tailwind utilities;

@import './adn-colors.css'; 
@config '../tailwind.config.js';

@layer base {
  html {
    font-weight_: 450;
  }
  article {
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;      /* IE */
  }
  img.markdown {
    @apply rounded-lg p-8 bg-white
            brightness-[.90]
            dark:brightness-[.85]
            dark:invert 
            dark:hue-rotate-180
  }

  .deleteme {
    @apply outline 
    outline-[#040c1a1a] 
    dark:outline-[#1a160427]  
    outline-[200px] 
    outline-offset-[-200px];
  }

}

@layer components {

  .form-control {
    @apply flex flex-col;
  }

  .label {
    @apply px-1 py-2 flex select-none items-center justify-between;
  }

  .label-text {
    @apply text-xs sm:text-sm;
  }
  
  .label-text-alt {
    @apply text-xs;
  }

  .form-control .input, 
  .form-control .select,
  .form-control .textarea {
    @apply rounded-lg flex-1 appearance-none w-full py-2 px-4 text-base
    border border-adn-color-border-light 
    bg-adn-color-control-bg focus:bg-adn-color-control-bg-active
    text-adn-color-text-default placeholder-adn-color-text-placeholder focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent;
  }

  .form-control .checkbox {
    @apply rounded-lg border-transparent flex-1 border border-gray-300 py-2 px-4 bg-white text-gray-700 placeholder-gray-400 text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
  }

  .btn,
  .btn-primary {
    @apply px-6 h-12 w-fit text-nowrap flex items-center justify-center rounded-full text-center font-semibold text-adn-color-text-default
    text-indigo-50 bg-adn-color-primary hover:bg-adn-color-primary-light 
    focus:outline-none focus:ring-2 focus:ring-offset-2
    focus:ring-adn-color-primary-light focus:ring-offset-adn-color-fill-bg 
     cursor-pointer no-underline;
  }
  
  .btn:disabled,
  .btn-primary:disabled,
  .btn:disabled:hover,
  .btn-primary:disabled:hover {
    @apply bg-adn-color-primary-lighter border-opacity-0 bg-opacity-20 shadow-none cursor-default;
  }

  



}