@tailwind base;
@tailwind components;
@tailwind utilities;

@import './adn-colors.css';
@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}


@utility form-control {
  @apply flex flex-col;
}

@utility label {
  @apply px-1 py-2 flex select-none items-center justify-between;
}

@utility label-text {
  @apply text-xs sm:text-sm;
}

@utility label-text-alt {
  @apply text-xs;
}

@utility input {
  .form-control & {
    @apply rounded-lg flex-1 w-full py-2 px-4 bg-adn-color-control-bg text-base text-adn-color-text-default border border-adn-color-border-light focus:bg-adn-color-control-bg-active focus:ring-1 focus:ring-indigo-600 focus:border-indigo-600 active:ring-1 active:ring-indigo-600 active:border-indigo-600
    outline-hidden;
  }
}


@utility select {
  .form-control & {
    @apply rounded-lg flex-1 appearance-none w-full py-2 px-4 text-base
    border border-adn-color-border-light bg-adn-color-control-bg text-adn-color-text-default placeholder-adn-color-text-placeholder focus:outline-hidden focus:bg-adn-color-control-bg-active focus:ring-1 focus:ring-indigo-600 focus:border-indigo-600 active:ring-1 active:ring-indigo-600 active:border-indigo-600 outline-hidden;
  }
}

@utility textarea {
  .form-control & {
    @apply rounded-lg flex-1 appearance-none w-full py-2 px-4 text-base border border-adn-color-border-light 
    bg-adn-color-control-bg focus:bg-adn-color-control-bg-active placeholder-adn-color-text-placeholder
    text-adn-color-text-default focus:ring-1 focus:ring-indigo-600 focus:border-indigo-600 active:ring-1 active:ring-indigo-600 active:border-indigo-600
    outline-hidden;
  }
}

@utility checkbox {
  .form-control & {
    @apply rounded-lg flex-1 border border-gray-300 py-2 px-4 bg-white text-gray-700 placeholder-gray-400 text-base focus:outline-hidden focus:ring-2 focus:ring-purple-600 focus:border-transparent;
  }
}

@utility btn {
  @apply px-6 h-12 max-w-fit flex items-center justify-center rounded-full text-center text-sm font-semibold 
    text-indigo-50 bg-adn-color-primary hover:bg-adn-color-primary-light 
    focus:outline-hidden focus:ring-2 focus:ring-offset-2
    focus:ring-indigo-500 focus:ring-offset-indigo-200 
     cursor-pointer no-underline;

  &:disabled {
    @apply opacity-20 shadow-none cursor-default;
  }

  &:disabled:hover {
    @apply opacity-20 shadow-none cursor-default;
  }
}

@utility btn-primary {
  @apply px-6 h-12 max-w-fit flex items-center justify-center rounded-full text-center text-sm font-semibold 
    text-indigo-50 bg-adn-color-primary hover:bg-adn-color-primary-light 
    focus:outline-hidden focus:ring-2 focus:ring-offset-2
    focus:ring-indigo-500 focus:ring-offset-indigo-200 
     cursor-pointer no-underline;

  &:disabled {
    @apply opacity-20 shadow-none cursor-default;
  }

  &:disabled:hover {
    @apply opacity-20 shadow-none cursor-default;
  }
}



@layer base {
  a {
    @apply no-underline hover:underline text-adn-color-link-default; 

  }
}

@layer base {
  html {
    font-weight: 450 !important;
  }
  article {
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;      /* IE */
  }
  img.markdown {
    @apply rounded-lg p-8 bg-white
            brightness-[.90]
            dark:brightness-[.85]
            dark:invert 
            dark:hue-rotate-180
  }

  .deleteme {
    @apply  
    outline-[#040c1a1a] 
    dark:outline-[#1a160427]  
    outline-[200px] 
    outline-offset-[-200px];
  }

}

