@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[16px] sm:text-[18px];
  }
  article {
    overflow-wrap: break-word;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
  }
}

@layer utilities { 

  /* Semantic Colors */

  .adn-color-fill-bg {
    @apply bg-adn-light-bg dark:bg-adn-dark-bg;
  }
  .adn-color-fill-bg-lighter {
    @apply bg-adn-light-bg-lighter dark:bg-adn-dark-bg-lighter;
  }
  .adn-color-fill-bg-dark {
    @apply bg-adn-light-bg-dark dark:bg-adn-dark-bg-dark;
  }
  .adn-color-text {
    @apply text-adn-light-text dark:text-adn-dark-text;
  }

}


@layer components {

  .form-control {
    @apply flex flex-col;
  }

  .label {
    @apply px-1 py-2 flex select-none items-center justify-between;
  }

  .label-text {
    @apply text-sm;
  }
  
  .label-text-alt {
    @apply text-xs;
  }

  .form-control .input, 
  .form-control .select,
  .form-control .textarea {
    @apply rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
  }

  .form-control .checkbox {
    @apply rounded-lg border-transparent flex-1 border border-gray-300 py-2 px-4 bg-white text-gray-700 placeholder-gray-400 text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
  }

  .btn,
  .btn-primary {
    @apply py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg;
  }
  
  .btn:disabled,
  .btn-primary:disabled,
  .btn:disabled:hover,
  .btn-primary:disabled:hover {
    @apply text-base border-opacity-0 bg-opacity-20 shadow-none;
  }

  



}